/** @format */

.navbar-component {
  bottom: 0;
  z-index: 10;
  position: fixed;
  background-color: #0c0f14;

  width: 100%;
  height: 45px;
  max-width: 500px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  svg {
    color: #f9fbfa;
  }
}
