/** @format */

.bottom-sheet-component {
  &__paper {
    background-color: #25282d !important;
    border-radius: 16px 16px 0 0;
    padding: 16px;

    color: #f9fbfa;
    * {
      color: #f9fbfa;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 16px;
    border-block-end: 1px solid #2b3035;
    padding-block-end: 16px;
    margin-block-end: 24px;

    &--puller {
      width: 60px;
      height: 6px;
      border-radius: 10px;
      background-color: #a2abb4;
    }
    &--name {
      font-weight: 600;
    }
  }
}
