/** @format */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

span {
  color: #f9fbfa;
}

/* MUI overwrites */

.MuiDrawer-root.MuiDrawer-modal {
  max-width: 500px;
  margin-inline: auto;

  .MuiBackdrop-root.MuiModal-backdrop,
  .MuiPaper-root.MuiPaper-elevation {
    margin-inline: auto;
    max-width: 500px;
  }

  .MuiPaper-root.MuiPaper-elevation {
    height: 65%;
  }
}

.MuiInputBase-input.MuiOutlinedInput-input {
  padding: 0;
  border: none !important;
  color: #f9fbfa;
}
.MuiOutlinedInput-notchedOutline {
  border: none !important;
}
